@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.word {
  margin: auto;
  color: rebeccapurple;
  font-family:"Montserrat", sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin-top: 8%;
}

.text-typing {
  padding: 40px 60px;
    background: #f5f5f5;
    font-size: 40px;
    font-family: sans-serif;
    width: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 90px;
}
.text-typing p {
  margin:0px;
  white-space:nowrap;
  overflow:hidden;
  animation:typing 4s steps(22,end) forwards,
            blink 1s infinite;
}
@keyframes typing {
  0% { width:0% }
  100% { width:100% }
}
@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid #222;
  }
}


.type {
  margin: 100px auto;
  font-family: sans-serif;
  font-weight: 700;
  font-size:35px;
  background:linear-gradient(#053088 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  background-repeat:no-repeat;
  animation: t calc(var(--n)*.3s) linear infinite alternate;
}
@keyframes t{
  from {background-size:0 200%}
}
.clip {
  color:#0000;
  -webkit-background-clip:text;
  background-clip:text;
}
.step {
  animation-timing-function:steps(var(--n))
}
